<a href="https://colab.research.google.com/github/marisbotero/DataScienceFEM/blob/master/Juguemos_con_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Jugando con datos ⭐
Ya has aprendido las bases de python, como hacer funciones, y cómo importar librerías. Ahora vamos a jugar un poco con Python y algunas librerías útiles


* Los datos estan en https://archive.ics.uci.edu/ml/datasets/iris

Esta quizá es la base de datos más conocida que se encuentra en la literatura de reconocimiento de patrones.El conjunto de datos contiene 3 clases de 50 instancias cada una, donde cada clase se refiere a un tipo de planta de iris. Una clase es linealmente separable de las otras 2.
Atributo previsto: clase de planta de iris. 




## Información

1. longitud del sépalo en cm 
2. ancho del sépalo en cm 
3. longitud del pétalo en cm 
4. ancho del pétalo en cm 
5. clase: 
- Iris Setosa 
- Iris Versicolour 
- Iris Virginica

## pandas: 

Es una biblioteca de código abiert que proporciona estructuras de datos y herramientas de análisis de datos de alto rendimiento y fáciles de usar con python.

## ¿Qué problema resuelven los pandas ?

Python ha sido durante mucho tiempo excelente para la mezcla y preparación de datos, pero no tanto para el análisis y modelado de datos. pandas ayuda a llenar este vacío, permitiéndole llevar a cabo todo su flujo de trabajo de análisis de datos en Python sin tener que cambiar a un lenguaje más específico de dominio como R.

Combinado con el excelente kit de herramientas de IPython y otras bibliotecas, el entorno para realizar análisis de datos en Python destaca en rendimiento, productividad y la capacidad de colaborar.

## DataFrame: 
Un objeto rápido y eficiente para la manipulación de datos con indexación integrada

In [0]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

Cargamos los datos y lo convertimos en un dataframa

In [0]:
data = pd.read_csv('iris.data.txt', names = ['sl', 'sw', 'pl', 'pw', 'label'])

## head :
Esta función devuelve las primeras n filas para el objeto según la posición. Es útil para probar rápidamente si su objeto tiene el tipo correcto de datos

In [12]:
data.head()

    sl   sw   pl   pw        label
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [15]:

data.head(3) #mostrar los primeros resgistros

    sl   sw   pl   pw        label
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa

In [16]:

data.tail(3) # ultimos datos

      sl   sw   pl   pw           label
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

In [18]:
# Filtrar datos
data_setosa = data[data.label== 'Iris-setosa']
data_setosa.head()

    sl   sw   pl   pw        label
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [19]:

data2 = data[(data.label== 'Iris-setosa') & (data.pw > 0.4)] # se usa & en vez de and
data2

     sl   sw   pl   pw        label
23  5.1  3.3  1.7  0.5  Iris-setosa
43  5.0  3.5  1.6  0.6  Iris-setosa

In [13]:
data.shape

(150, 5)

In [14]:
data.describe()

               sl          sw          pl          pw
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667
std      0.828066    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [20]:
data.isna().sum() # verificar datos nulos

sl       0
sw       0
pl       0
pw       0
label    0
dtype: int64

In [25]:
data.isnull().sum()

sl       0
sw       0
pl       0
pw       0
label    0
dtype: int64

In [26]:
# recuentos de valores únicos.
data.label.value_counts()

Iris-versicolor    50
Iris-virginica     50
Iris-setosa        50
Name: label, dtype: int64

In [28]:
data.corr() # obtener la correlacion entre nuestras variables!

          sl        sw        pl        pw
sl  1.000000 -0.109369  0.871754  0.817954
sw -0.109369  1.000000 -0.420516 -0.356544
pl  0.871754 -0.420516  1.000000  0.962757
pw  0.817954 -0.356544  0.962757  1.000000